@page
@model SessionFinalProject.Pages.SignUpModel
@{
}


<h1>Sign up here</h1>

@if(Model.Message != null)
{
    <div class="text-danger">@Model.Message</div>
}

<form method="post">

    <input type="email" name="email" placeholder="email address"/>
    <button type="submit" >Submit</button>


</form>